<a href="https://colab.research.google.com/github/suarezthura1/Githubtesting/blob/main/Partey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [50]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import lasso_path
from sklearn import metrics

Data Collection and processing

In [7]:
# loading the data from csv file to pandas dataframe
coffee_data = pd.read_csv('/content/Coffee_data.csv')

In [8]:
# inspecting the first 5 rows of the dataframe
coffee_data.head()

   ORDER OF YEARS  ...  Grade UG3 average price(USD) per 50 kg
0            2021  ...                                    59.9
1            2020  ...                                    88.3
2            2019  ...                                   134.2
3            2018  ...                                    43.1
4            2017  ...                                    80.8

[5 rows x 14 columns]

In [9]:
# checking the number of rows and columns 
coffee_data.shape

(60, 14)

In [10]:
# getting some information about the dataset
coffee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 14 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ORDER OF YEARS                          60 non-null     int64
 1   GRADE AA average price (usd) per 50kg   60 non-null     float64
 2   Grade AB average price (usd) per 50kg   60 non-null     float64
 3   Grade C average price(usd) per 50kg     60 non-null     object
 4   Grade E average price (usd) per 50kg    60 non-null     float64
 5   Grade MH average price (usd) per 50kg   60 non-null     float64
 6   Grade ML average price(usd) per 50kg    60 non-null     float64
 7   Grade PB average price(USD) per 50 kg   60 non-null     object
 8   Grade T average price(USD) per 50 kg    60 non-null     float64
 9   Grade TT average price(USD) per 50kg    60 non-null     float64
 10  Grade UG average price(USD) per 50kg    60 non-null     float64
 11  Grade UG1 average price(USD) per 50kg   60 non-null     float64
 12  Grade UG2 average price(USD) per 50 kg  60 non-null     float64
 13  Grade UG3 average price(USD) per 50 kg  60 non-null     float64
dtypes: float64(11), int64(1), object(2)
memory usage: 6.7+ KB

In [11]:
# checking the number of missing values
coffee_data.isnull().sum()

ORDER OF YEARS                            0
GRADE AA average price (usd) per 50kg     0
Grade AB average price (usd) per 50kg     0
Grade C average price(usd) per 50kg       0
Grade E average price (usd) per 50kg      0
Grade MH average price (usd) per 50kg     0
Grade ML average price(usd) per 50kg      0
Grade PB average price(USD) per 50 kg     0
Grade T average price(USD) per 50 kg      0
Grade TT average price(USD) per 50kg      0
Grade UG average price(USD) per 50kg      0
Grade UG1 average price(USD) per 50kg     0
Grade UG2 average price(USD) per 50 kg    0
Grade UG3 average price(USD) per 50 kg    0
dtype: int64

Splitting the data and Target

In [30]:
y = coffee_data['GRADE AA average price (usd) per 50kg']
x = coffee_data.drop(['GRADE AA average price (usd) per 50kg'],axis=1)

In [31]:
print(x)

    ORDER OF YEARS  ...  Grade UG3 average price(USD) per 50 kg
0             2021  ...                                    59.9
1             2020  ...                                    88.3
2             2019  ...                                   134.2
3             2018  ...                                    43.1
4             2017  ...                                    80.8
5             2016  ...                                    79.6
6             2015  ...                                    81.7
7             2014  ...                                    23.1
8             2013  ...                                    75.0
9             2012  ...                                    69.9
10            2011  ...                                    56.8
11            2010  ...                                    75.8
12            2009  ...                                    49.0
13            2008  ...                                    66.0
14            2007  ...                                    42.0
15            2006  ...                                    43.6
16            2005  ...                                    39.1
17            2004  ...                                    52.6
18            2003  ...                                    45.0
19            2002  ...                                    66.8
20            2001  ...                                   107.5
21            2000  ...                                    56.8
22            1999  ...                                    83.5
23            1998  ...                                    77.0
24            1997  ...                                    80.0
25            1996  ...                                    79.9
26            1995  ...                                    98.7
27            1994  ...                                    71.0
28            1993  ...                                    78.2
29            1992  ...                                    79.6
30            1991  ...                                    82.9
31            1990  ...                                    68.9
32            1989  ...                                    75.0
33            1988  ...                                    79.6
34            1987  ...                                    89.0
35            1986  ...                                    46.0
36            1985  ...                                    72.7
37            1984  ...                                    79.3
38            1983  ...                                   134.2
39            1982  ...                                    98.8
40            1981  ...                                    87.7
41            1980  ...                                    69.0
42            1979  ...                                    71.8
43            1978  ...                                    69.1
44            1977  ...                                    75.8
45            1976  ...                                    76.8
46            1975  ...                                    80.8
47            1974  ...                                    75.8
48            1973  ...                                    84.9
49            1972  ...                                    88.3
50            1971  ...                                    87.7
51            1970  ...                                    79.7
52            1969  ...                                    76.7
53            1968  ...                                    79.6
54            1967  ...                                    82.3
55            1966  ...                                    90.2
56            1965  ...                                    81.9
57            1964  ...                                    69.9
58            1963  ...                                    73.5
59            1962  ...                                    78.2

[60 rows x 13 columns]

In [32]:
print(y)

0     349.8
1     382.2
2     336.6
3     272.6
4     286.3
5     191.9
6     297.0
7     331.8
8     228.2
9     235.8
10    279.1
11    295.8
12    297.8
13    297.3
14    265.9
15    221.9
16    217.8
17    220.2
18    206.8
19    253.7
20    255.7
21    279.1
22    292.5
23    289.4
24    291.3
25    335.9
26    269.1
27    238.4
28    229.3
29    191.9
30    220.2
31    229.2
32    228.2
33    237.0
34    267.0
35    300.7
36    255.0
37    352.8
38    364.7
39    323.2
40    314.4
41    306.0
42    303.1
43    304.4
44    300.1
45    310.7
46    300.5
47    295.8
48    299.6
49    285.4
50    309.6
51    289.4
52    215.5
53    191.9
54    253.0
55    267.3
56    268.5
57    235.8
58    258.3
59    265.3
Name: GRADE AA average price (usd) per 50kg, dtype: float64

Splitting Training and Test data

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state=2)

Model Training
    1. Linear Regression

In [35]:
# loading the linear regression model
lin_reg_model = LinearRegression()

In [55]:
lin_reg_model.fit( x_train,y_train)

ValueError: ignored