<a href="https://colab.research.google.com/github/suarezthura1/Githubtesting/blob/main/Teye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import lasso_path
from sklearn import metrics
%matplotlib inline

Data Collection and Processing

In [19]:
# loading the data from csv file to pandas dataframe
monthly_coffee_prices = pd.read_csv('/content/monthly_coffee_prices.csv')

In [22]:
# inspecting the first 5 rows of the dataframe
monthly_coffee_prices.head()

   Index   Month Grade   Price
0      1  Oct-19    AA  236.98
1      2  Oct-19    AB  211.06
2      3  Oct-19     C  168.10
3     17  Nov-19    AA  267.01
4     18  Nov-19    AB  231.54

In [32]:
# Convert Month to datetime object
from datetime import datetime

In [50]:
def convert_to_datetime(month_year):
    dt = datetime.strptime(month_year, '%B %Y')
    return dt

In [53]:

# checking the number of rows and columns 
monthly_coffee_prices.shape

(132, 4)

In [54]:
# getting some information about the dataset
monthly_coffee_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   132 non-null    int64
 1   Month   132 non-null    object
 2   Grade   132 non-null    object
 3   Price   132 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.2+ KB

In [55]:
# checking the number of missing values
monthly_coffee_prices.isnull().sum()

Index    0
Month    0
Grade    0
Price    0
dtype: int64

Encoding the categorical Data

In [108]:
# encoding "Month" column
monthly_coffee_prices.replace({"Month":{'Jan':1,'Feb':2,'mar':3,'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}},inplace= True)



# encoding "Grade" column
monthly_coffee_prices.replace({"Grade":{'AA':0,'AB':1,'C':2}},inplace= True)

In [109]:
monthly_coffee_prices.head()

   Index   Month  Grade   Price
0      1  Oct-19      0  236.98
1      2  Oct-19      1  211.06
2      3  Oct-19      2  168.10
3     17  Nov-19      0  267.01
4     18  Nov-19      1  231.54

In [110]:
monthly_coffee_prices.head()

   Index   Month  Grade   Price
0      1  Oct-19      0  236.98
1      2  Oct-19      1  211.06
2      3  Oct-19      2  168.10
3     17  Nov-19      0  267.01
4     18  Nov-19      1  231.54

Splitting the Data and Target