<a href="https://colab.research.google.com/github/suarezthura1/Githubtesting/blob/main/Teye.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Dependencies

In [206]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import lasso_path
from sklearn import metrics
%matplotlib inline
import datetime as dt

Data Collection and Processing

In [207]:
# loading the data from csv file to pandas dataframe
monthly_coffee_prices = pd.read_csv('/content/monthly_coffee_prices.csv')

In [208]:
# inspecting the first 5 rows of the dataframe
monthly_coffee_prices['Month'] = pd.to_datetime(monthly_coffee_prices.Month)
monthly_coffee_prices.head()

   Index      Month Grade   Price
0      1 2017-01-10    AA  236.98
1      2 2017-01-10    AB  211.06
2      3 2017-01-10     C  168.10
3     17 2017-01-11    AA  267.01
4     18 2017-01-11    AB  231.54

In [209]:
# Convert Month to datetime object
from datetime import datetime

In [210]:
def convert_to_datetime(month_year):
    dt = datetime.strptime(month_year, '%B %Y')
    return dt

In [211]:

# checking the number of rows and columns 
monthly_coffee_prices.shape

(132, 4)

In [213]:
# getting some information about the dataset
monthly_coffee_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   132 non-null    int64
 1   Month   132 non-null    datetime64[ns]
 2   Grade   132 non-null    object
 3   Price   132 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 4.2+ KB

In [214]:
# checking the number of missing values
monthly_coffee_prices.isnull().sum()

Index    0
Month    0
Grade    0
Price    0
dtype: int64

Encoding the categorical Data

In [215]:
# encoding "Grade" column
monthly_coffee_prices.replace({'Grade':{'AA':0,'AB':1,'C':2}},inplace=True)

In [216]:
 monthly_coffee_prices.head()

   Index      Month  Grade   Price
0      1 2017-01-10      0  236.98
1      2 2017-01-10      1  211.06
2      3 2017-01-10      2  168.10
3     17 2017-01-11      0  267.01
4     18 2017-01-11      1  231.54

Splitting the data and Target

In [217]:
x = monthly_coffee_prices.drop(['Index','Price'],axis=1)
y = monthly_coffee_prices['Price']

In [218]:
print(x)

         Month  Grade
0   2017-01-10      0
1   2017-01-10      1
2   2017-01-10      2
3   2017-01-11      0
4   2017-01-11      1
..         ...    ...
127 2021-01-07      1
128 2021-01-07      2
129 2021-01-08      0
130 2021-01-08      1
131 2021-01-08      2

[132 rows x 2 columns]

In [219]:
print(y)

0      236.98
1      211.06
2      168.10
3      267.01
4      231.54
        ...
127    266.95
128    236.97
129    289.41
130    267.78
131    241.44
Name: Price, Length: 132, dtype: float64

In [220]:
monthly_coffee_prices['Month'] = pd.to_datetime(monthly_coffee_prices.Month)

In [227]:
monthly_coffee_prices

     Index      Month  Grade   Price
0        1 2017-01-10      0  236.98
1        2 2017-01-10      1  211.06
2        3 2017-01-10      2  168.10
3       17 2017-01-11      0  267.01
4       18 2017-01-11      1  231.54
..     ...        ...    ...     ...
127     22 2021-01-07      1  266.95
128     23 2021-01-07      2  236.97
129     38 2021-01-08      0  289.41
130     39 2021-01-08      1  267.78
131     40 2021-01-08      2  241.44

[132 rows x 4 columns]

In [222]:
monthly_coffee_prices.dtypes

Index             int64
Month    datetime64[ns]
Grade             int64
Price           float64
dtype: object

Splitting Training and Test data

In [223]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.1, random_state=2)

Model Training 1. Linear Regression

In [224]:
# loading the linear regression model
lin_reg_model = LinearRegression()

In [225]:
ts = pd.to_datetime('01/07/2020')

In [231]:
lin_reg_model.fit(x_train,y_train)

TypeError: ignored